button {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 15px;
    color: white;
    border: none;
    cursor: pointer;
}

.transition {
    background-color: blue;
    transition: background-color 0.5s ease-in-out;
}

.transition:hover {
    background-color: purple;
}

.expand {
    background-color: red;
    transition: transform 0.5s ease-in-out;
}

.expand:hover {
    transform: scale(1.2);
}

.fade-in {
    width: 320px;
    height: auto;
    padding: 10px;
    margin: 15px;
    text-align: center;
    color: white;
    background-color: darkolivegreen;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.fade-in:hover {
    opacity: 1;
}

.ball {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    position: absolute;
    background-color: darksalmon;
    text-align: center;
    margin: 15px;
    color: white;
    cursor: pointer;
    transform: translateX(500%);
    animation: bounce 1s infinite alternate ease-in-out;
}

@keyframes bounce {
    from {
        top: 0;
    }
    
    to {
        top: 200px;
    }
}

.spinner {
    width: 70px;
    height: 70px;
    border: 5px solid lightgray;
    border-top: 5px solid darkgreen;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.glow {
    background-color: darkorange;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 5px darkorange;
    }

    to {
        box-shadow: 0 0 30px darkorange;
    }
}